<div>
  <div class="pull-right m-r-24">
    <button type="button" class="btn btn-primary" (click)="randomRating()">
      RANDOM RATING
      <span *ngIf="isPlay"><i class="fa fa-play"></i></span>
      <span *ngIf="!isPlay"><i class="fa fa-stop"></i></span>
    </button>
  </div>
  <br />
  <div class="wrapper mar-24">   
    <ngx-datatable class="material"
                   [rows]="books"
                   [columns]="tableHeader"
                   [columnMode]="'force'"
                   [headerHeight]="50"
                   [footerHeight]="50"
                   [limit]="5"
                   [offset]="0"
                   [count]="100"
                   [rowHeight]="'auto'">
      <ngx-datatable-column name="Title">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span (click)="sort()">{{column.name}}</span>
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          <strong>{{value}}</strong>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Image">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{column.name}}
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          <img [src]="'value'" alt="" class="mr-2" style="width: 40px;height:40px;" />
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Language">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{column.name}}
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          <span>{{value}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Author">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span (click)="sort()">{{column.name}}</span>
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          <span>{{value}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Link">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{column.name}}
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          <span>{{value}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Pages">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{column.name}}
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          <span>{{value}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Year">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span (click)="sort()">{{column.name}}</span>
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          <span>{{value}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Rating">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span (click)="sort()">{{column.name}}</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <app-rating [rating]="row['rating']" [id]="row['id']" (ratingClick)='ratingComponentClick($event)'></app-rating>
        </ng-template>
      </ngx-datatable-column>     
    </ngx-datatable>
  </div>
</div>
